@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>My Library Application Sample</h1>
    <p class="lead">This library application is very useful for any library, where they can track their customers, movies/books, and rental</p>
    <p>@Html.ActionLink("SignUp Now", "Register", "Account", null, new { @class= "btn btn-primary btn-lg" }) 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>
            Staff/Guest or admin can add, edit or delete customers and updated their information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Only admin can add, delete, edit and update movies. Staff can only read these data</p>
        
    </div>
    <div class="col-md-4">
        <h2>Rental</h2>
        <p>admin and staff/guest can record customers that rental which movies.</p>
    </div>
</div>